@model IEnumerable<Qs.Models.Ticket>

@{
    ViewBag.Title = "Tickets - " + ViewBag.BranchName;
}

<h2>Tickets - @ViewBag.BranchName</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div class="pull-right">
    <a class="btn btn-success" href="@Url.Action("TicketScreen","Tickets", new {functionType = "Consultants" })">Consultants</a>
    <a class="btn btn-success" href="@Url.Action("TicketScreen","Tickets", new {functionType = "Enquiries" })">Enquiries</a>
    <a class="btn btn-success" href="@Url.Action("TicketScreen","Tickets", new {functionType = "Tellers" })">Tellers</a>
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FunctionType.FunctionName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TicketNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateTimeIssued)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateTimeHelped)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateTimeEnd)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FunctionType.FunctionName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TicketNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateTimeIssued)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateTimeHelped)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateTimeEnd)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>

        </tr>
    }

</table>





